

@media only screen and (max-device-width: 676px) {
    .container { height: 200px; }
    .divFormLogin{ max-width: 70%; }
}

@media only screen and (min-device-width: 676px) {
    .divFormLogin{ max-width: 20%; }
}

.container {
    width:100%;
    background: linear-gradient(to right,#00c4cc,#7d2ae8);
}

.menu .ui.button {
    color: white;
    background-color: transparent;
    border: 1px solid white;
}

.menu .ui.button:hover {
    color: white;
    background-color: blue;
    border: 1px solid white;
}

.menu {
    display: inline-block;
    float: right;
    margin: 25px 60px;
}

.header {
    display: inline-block;
    margin: 30px 60px;
}

.ui.header .content {
    color: white;
    font-size: 20px;
}

#iconHand {
 color: black; 
}

.ui.placeholder.segment {
    border:none;   
    width:100%; 
}

.footer {
    background-color: cornflowerblue;
    height: 50px;
    position:absolute;
    bottom:0; 
    width:100%;
}

.footer p {
    color: white;
    text-align: center;
    margin: 10px;
}

.divFormLogin {
    border: 1px solid rgb(155, 107, 211);
    border-radius: 20px;
    padding: 30px;
    margin: auto;
    margin-top: 30px;
}

.ui.negative.message, .ui.mini.message  {
    text-align: center;
}

.embreve {
    text-align: center;
    padding-top: 150px;
}